@charset "utf-8";
/************************************************************************
 * filename : base.css
 * description : 기본공통 CSS
 * date :
************************************************************************/
html,body {overflow: auto;}
body {font-size: 12px;}

h1.c_left {margin-bottom:10px; padding:7px; border-bottom:1px solid #e9e9e9; font-size:16px; line-height:normal}
h2.c_left {padding:2px; line-height:normal; font-size: 14px; margin-bottom: 0; color:#666;}
.dtree {margin:30px 0 10px; color:#999; }
.dtree p {text-align:right}
.dtree a {color:#999; text-decoration:none;}
.dtree a img {vertical-align: initial;}
.dtree a:hover {background-color: #eee;}
.dtree a.node, .dtree a.nodeSel {padding: 1px 2px 1px 2px; word-break: keep-all;}
.dtree a.nodeSel {background-color: #f0ff00}
.dtree .clip {overflow: hidden;}
.dtree .word_wrap {display: -webkit-inline-box; width: calc(100% - 54px);}
.dTreeNode {margin-bottom: 3px;}
.t_ing {color:#999}
.t_app {color:#0042ff}
.t_confirm {color:#000}
.t_modify {color:#ff0000}

.coding_guide {position:static !important;}
.coding_guide h1.h1_guide {margin-bottom:15px; padding:7px 0 12px 10px; background:#58626F; color:white; font-size:18px; line-height:normal}
.coding_guide h2.h2_guide {margin:20px 0 10px 20px; color:#000; font-size:16px; line-height:normal}
.coding_guide h3.h3_guide {margin:20px 0 10px 10px; color:#000; font-size:14px; line-height:normal}
.coding_guide dl.notice {padding-left:20px}
.coding_guide dl.notice ol	{list-style-type:decimal; list-style-position:inside}
.coding_guide dl.notice li {padding:2px;;list-style-type:decimal; list-style-position:inside}
.coding_guide dl.notice ul li {margin-left:10px}
.coding_guide .guide_wrap {width:100%;padding:0 20px 10px 20px;box-sizing:border-box}
/* .coding_guide .d_desc {margin:0 20px 20px 20px; padding:9px; 
    border:1px solid #ddd; background:#f5f5f5; 
    font-size:12px; line-height:15px;

} */
/* .coding_guide .d_desc.code {padding:0;} */
.coding_guide .d_desc .num_list {padding-left:20px; list-style-type:decimal;}
.coding_guide .d_desc .num_list li {padding:0 0 5px 0;}
.coding_guide .t_point {margin:0 0 7px; padding-bottom:5px; border-bottom:1px solid #E5E5E5}

.guide_table {width:100%; border:0 none; border-collapse:collapse;}
.guide_table th,
.guide_table td {padding:5px 10px; border:1px solid #ccc;}
.guide_table th {color:#000;}
.guide_table thead th {background-color:#ddd; border-bottom:0 none;}

.guideTitle { font-size: 18px; font-weight: 700; margin: 50px 0 20px; background: #eee; height: 30px; line-height: 30px; }

.guideTitleSmall { font-size: 14px; margin: 30px 0 20px; }

/* clipboard */
/* .snippet{
    position:relative;
    overflow:visible
}
.snippet code{
    font-size:14px;
    line-height:20px
} */


/* .snippet .btn{
    -webkit-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    opacity:0;
    padding:2px 6px;
    position:absolute;
    right:4px;
    top:4px
}
.snippet:hover .btn,.snippet .btn:focus{
    opacity:1
}
@media screen and (max-width:768px){
    .snippet .btn{
        opacity:1
    }
}
.example+.snippet .btn{
    top:22px;
    right:2px
} */
/* code{
    background-color:#e8f5f2;
    border-radius:3px;
    color:#1bc1a1;
    font-size:85%;
    margin:0;
    padding:.2em
}
.tooltipped{
    position:relative
}
.tooltipped:after{
    position:absolute;
    z-index:1000000;
    display:none;
    padding:5px 8px;
    font:normal normal 11px/1.5 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    color:#fff;
    text-align:center;
    text-decoration:none;
    text-shadow:none;
    text-transform:none;
    letter-spacing:normal;
    word-wrap:break-word;
    white-space:pre;
    pointer-events:none;
    content:attr(aria-label);
    background:rgba(0,0,0,.8);
    border-radius:3px;
    -webkit-font-smoothing:subpixel-antialiased
}
.tooltipped:before{
    position:absolute;
    z-index:1000001;
    display:none;
    width:0;
    height:0;
    color:rgba(0,0,0,.8);
    pointer-events:none;
    content:"";
    border:5px solid transparent
}
.tooltipped:hover:before,.tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus:before,.tooltipped:focus:after{
    display:inline-block;
    text-decoration:none
}
.tooltipped-multiline:hover:after,.tooltipped-multiline:active:after,.tooltipped-multiline:focus:after{
    display:table-cell
}
.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after{
    top:100%;
    right:50%;
    margin-top:5px
}
.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before{
    top:auto;
    right:50%;
    bottom:-5px;
    margin-right:-5px;
    border-bottom-color:rgba(0,0,0,.8)
}
.tooltipped-se:after{
    right:auto;
    left:50%;
    margin-left:-15px
}
.tooltipped-sw:after{
    margin-right:-15px
}
.tooltipped-n:after,.tooltipped-ne:after,.tooltipped-nw:after{
    right:50%;
    bottom:100%;
    margin-bottom:5px
}
.tooltipped-n:before,.tooltipped-ne:before,.tooltipped-nw:before{
    top:-5px;
    right:50%;
    bottom:auto;
    margin-right:-5px;
    border-top-color:rgba(0,0,0,.8)
}
.tooltipped-ne:after{
    right:auto;
    left:50%;
    margin-left:-15px
}
.tooltipped-nw:after{
    margin-right:-15px
}
.tooltipped-s:after,.tooltipped-n:after{
    -webkit-transform:translateX(50%);
    -ms-transform:translateX(50%);
    transform:translateX(50%)
}
.tooltipped-w:after{
    right:100%;
    bottom:50%;
    margin-right:5px;
    -webkit-transform:translateY(50%);
    -ms-transform:translateY(50%);
    transform:translateY(50%)
}
.tooltipped-w:before{
    top:50%;
    bottom:50%;
    left:-5px;
    margin-top:-5px;
    border-left-color:rgba(0,0,0,.8)
}
.tooltipped-e:after{
    bottom:50%;
    left:100%;
    margin-left:5px;
    -webkit-transform:translateY(50%);
    -ms-transform:translateY(50%);
    transform:translateY(50%)
}
.tooltipped-e:before{
    top:50%;
    right:-5px;
    bottom:50%;
    margin-top:-5px;
    border-right-color:rgba(0,0,0,.8)
}
.tooltipped-multiline:after{
    width:-webkit-max-content;
    width:-moz-max-content;
    width:max-content;
    max-width:250px;
    word-break:break-word;
    word-wrap:normal;
    white-space:pre-line;
    border-collapse:separate
}
.tooltipped-multiline.tooltipped-s:after,.tooltipped-multiline.tooltipped-n:after{
    right:auto;
    left:50%;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
}
.tooltipped-multiline.tooltipped-w:after,.tooltipped-multiline.tooltipped-e:after{
    right:100%;
}
@media screen and (min-width:0\0){
    .tooltipped-multiline:after{
        width:250px;
    }
}
.tooltipped-sticky:before,.tooltipped-sticky:after{
    display:inline-block;
}
.tooltipped-sticky.tooltipped-multiline:after{
    display:table-cell;
} */
/* pre + pre {margin-top:-20px !important;} */

#clpmsg,#clpmsg::before,.clpbrd{
    position:absolute
}
/* pre{
    position:relative;
    border-color:#f5f5f5;
    border-style:solid;
    border-width:1px 1px 1px 0;
    padding:10px;
    border-left:solid 10px #ccc;
    font-size:15px;
    max-height:500px;
    overflow-y:scroll;
    white-space:pre-wrap
} */
.clpbrd{
    background:#fff;
    border:1px solid #d5d5d5;
    padding:2px;
    border-radius:3px;
    width:40px;
    height:40px;
    line-height: 1.2rem;
    cursor:pointer;
    top:3px;
    right:3px;
    -webkit-transition:opacity .3s ease-in-out;
    -o-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    opacity:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clpbrd img {max-width:20px;}
pre .clpbrd:hover #clpmsg,pre:hover .clpbrd{
    opacity:1
}
pre .clpbrd:active,pre .clpbrd:hover{
    background-color:#ddd;
    background-image:none;
    border-color:#b5b5b5;
    transition:.3s;
    box-shadow:inset 0 2px 4px rgba(0,0,0,.15)
}
pre .clpbrd:focus{
    text-decoration:none;
    border-color:#51a7e8;
    outline:0;
    box-shadow:0 0 5px rgba(81,167,232,.5)
}
#clpmsg{
    background-color:rgb(247, 7, 127);
    color:#ddd;
    padding:3px 5px;
    border-radius:3px;
    word-break:initial;
    height:25px;
    /* line-height: 40px; */
    top:7px;
    right:45px;
    opacity:0;
    -webkit-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    transition:opacity 1s ease-in-out
}
#clpmsg::before{
    content:"";
    border:10px solid;
    top:2px;
    border-color:transparent transparent transparent rgb(247, 7, 127);
    right:0;
    margin-right:-15px;
    width:0;
    height:0
}
 

/*  */
/* .example{
    position:relative;
    margin:15px 20px 0;
    padding:39px 19px 14px;
    background-color:#fff;
    border-radius:4px 4px 0 0;
    border:1px solid #ddd;
    z-index:2
}
.example p{
    color:#666
}
.example:after{
    content:"Example";
    position:absolute;
    top:0;
    left:0;
    padding:2px 8px;
    font-size:12px;
    font-weight:700;
    background-color:#f5f5f5;
    color:#9da0a4;
    border-radius:4px 0 4px 0
}
.example+.snippet{
    background:#f8f8f8;
    border-radius:4px;
    border:1px solid #ddd;
    clear:both;
    top:-20px;
    padding:20px 0 0
} */

.tag:not(body){
    align-items : baseline;
    background : none;
    display : inline;
    padding : 0;
    height : auto;
}

