.table {
    font-size: 14px;
    text-align: center;
    th {
        font-weight: 500;
        border: {
            left: none;
            right: none;
        }
        border-top-color: $color-02;
        border-bottom-color: $color-02;
        padding: {
            top: 0.5em;
            bottom: 0.5em;
        }
    }
    td:first-child {
        border-left:none;
    }
    td:last-child {
        border-right:none;
    }
    // th,td {
    // }
}
// .table-container {
//     & + .count {
//         margin-bottom:0;
//     }
// }
.table-container:not(:last-child) {
    margin-bottom:0;
}